<h1 style="text-align: center;">
    Password Reset
</h1>
<div *ngIf="alert" style="width: fit-content;padding:10px;margin:auto;" class="alert alert-warning">
    <h3 style="text-align:center">The Token Must have expired or something must have gone worng Reset again</h3>
</div>
<div *ngIf="alert1" style="width: fit-content;padding:10px;margin:auto;" class="alert alert-success">
    <h3>The Password has Been Reset Succesfully!</h3>
</div>
<br>
<div class="login">
    <form #ResetForm="ngForm" (ngSubmit)="logins(ResetForm)">

        <label > Email</label>&nbsp;<input  type="text" [(ngModel)]="login.email" name="email"><br>
        <label > Password</label>&nbsp;<input type="text" [(ngModel)]="login.password" name="password"><br>
        <button style="float: right;" class="btn btn-outline-success">Send</button>
    </form>
    <button *ngIf="alert1" [routerLink]="['/login']"   style="float: left;" class="btn btn-outline-success">Go To Login</button>
    
</div>