<h1 style="text-align: center;">
    Did you Forget your password? 
</h1>
<div *ngIf="alert" style="width: fit-content;padding:10px;margin:auto;" class="alert alert-warning">
    <h3 style="text-align:center">There Seems to be no account undeer this email try again</h3>
</div>
<div *ngIf="alert1" style="width: fit-content;padding:10px;margin:auto;" class="alert alert-success">
    <h3 style="text-align:center">The instructions to reset Password has been sent to you mail</h3>
</div>
<div *ngIf="alert2" style="width: fit-content;padding:10px;margin:auto;" class="alert alert-success">
    <h3 style="text-align:center">Please wait for 5 minutes before you can try Password Reset</h3>
</div>
<br>
<div class="login">
    <form #ResetForm="ngForm" (ngSubmit)="logins(ResetForm)">

        <label > Email</label>&nbsp;<input  type="text" [(ngModel)]="login.email" name="email"><br>
        <button style="float: right;" class="btn btn-outline-success">Send</button>
    </form>
    
</div>
